@model EmploiASP_2.Contrat

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Contrat</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Non soumis", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => m.ContratTravailleurSoumis.idContrat, 2222, new {  @name = "soumis", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ContratTravailleurSoumis.idContrat, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Soumis", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => m.ContratTravailleurSoumis.idContrat, 1111, new { @name = "soumis", @class = "form-control" })
            </div>
        </div>
        <div id="divNumDossierMedical" class="form-group">
            @Html.LabelFor(m => m.ContratTravailleurSoumis.numDossierMedical, "Numéro de dossier médical", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.ContratTravailleurSoumis.numDossierMedical, new { htmlAttributes = new { @required = true, @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ContratTravailleurSoumis.numDossierMedical, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.dateEntree, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateEntree, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateEntree, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewBag.error</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTravailleur, "Travailleur", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTravailleur", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTravailleur, "", new { @class = "text-danger" })
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numero, "Entreprise cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("numero", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateSortie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateSortie, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateSortie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.codeAlphabetique, "Profession", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("codeAlphabetique", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.codeAlphabetique, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
